<div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align: center;">
        <img class="img-center" src="/assets/img/burger.png" alt="Burger">
        <h1 class="display-4">Devour Burger</h1>
    </div>
</div>
<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col">
            <strong>UNDEVOURED</strong>
            <hr />
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        <li style="list-style-type:none">
                            {{burger_name}}
                            <button class="burger-button" data-id="{{id}}">Devour</button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <strong>DEVOURED</strong>
            <hr />
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li style="list-style-type:none">
                            {{burger_name}}
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>

    $(".burger-button").on("click", function(event) {
        console.log("Got your clicks dawg.  Don't even trip.");
        var id = $(this).data("id");
        var eaten = $(this).data("devoured");
        var newEatenState = {
            devoured: true
        };

        $.ajax("/api/burgers" + id, {
            type: "PUT",
            data: newEatenState
        }).then(function() {
            console.log("Changed state to", eaten);
        });
    });

</script>